.button {
    color:white;
    height: 30px;
    width: 30px;
    border: none;
}


.button__done {
    background-color: green;
    transition: 1s;
}

.button__done:hover {
    background: hsl(120, 100%, 35%);
}

.button__remove {
    background-color: red;
    transition: 1s;
}

.button__remove:hover {
    background: hsl(0, 100%, 60%) ;
}

.button:hover {
    cursor: active;
}

.button:active {
    outline: 1px solid black;
}
