.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    padding: 10px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}


.form__input {
    border: 1px solid #eee;
    padding: 10px;
   
}

.form__button {
    border: none;
    background-color: teal;
    color: #eee;
    padding: 10px;
    transition: 1s;
   
}

.form__button:hover {
    background: hsl(180, 100%, 35%);
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .form {
        flex-wrap: wrap;
        margin: 20px
    }

    .form__input {
        width: 100%;
    }

    .form__button {
        width: 100%;
        margin-top: 20px;
       
    }
}