.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
}

.form__input {
    border: 1px solid #eee;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    flex-grow: 1;
}

.form__button {
    border: none;
    background-color: teal;
    color: #eee;
    padding: 20px;
   
}

@media (max-width: 767px) {
    .form {
        flex-wrap: wrap;
        margin: 20px
    }

    .form__input {
        width: 100%;
    }

    .form__button {
        width: 100%;
        margin-top: 20px;
       
    }
}