.task {
    padding:20px;
    border-bottom: #eee solid 1px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    
}

.task__content--done {
    text-decoration: line-through;
}