.task {
    padding:10px;
    border-bottom: #eee solid 1px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    list-style: none;
    margin-right: 20px;
}

.task__content--done {
    text-decoration: line-through;
}

.task__item--hidden { 
    display: none;
}